@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-principal: #fff;
    --cor-secundario: #9AA6B2;
    --cor-do-botao: #167BF7;
    --cor-de-fundo: #00030C;
    --cor-botao-efeito: #3c92fa;

    --fonte-principal: "Inter";
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    color: var(--cor-principal);
}

.principal {
    background-image: url(./img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__descricao{
    padding: 2em;
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    font-size: 1rem;
    background-color: var(--cor-do-botao);
    color: var(--cor-principal);
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
    margin: 1em;
}

.container__botao:hover {
    background-color: var(--cor-botao-efeito);
    color: var(--cor-de-fundo);
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--cor-principal);
}

.container__aviso {
    font-size: 0.75rem;
    color: var(--cor-secundario);
}

.secundario {
    align-items: center;
    margin: 5em;
}

.secundario__imagem {
    width: 70%;
    margin: 6em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.1em;
}

.descricao__texto {
    font-size: 1rem;
    color: var(--cor-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos__titulo {
    font-size: 3rem;
    color: var(--cor-principal);
}

.lista__item {
    font-size: 2rem;
    color: var(--cor-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.lista__link a{
    margin-left: 1em;
    font-size: 1rem;
    text-decoration: none;
    color: var(--cor-principal);
}

.lista__link a:hover {
    color: var(--cor-do-botao);
}

.lista__link a:active {
    color: paleturquoise;
}

.rodape__texto {
    margin: 1em 0;
    font-size: 0.88rem;
    color: var(--cor-secundario);
}